*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./assets/hvd.jpg);
    height: 100vh;
    background-size: cover ;
    background-position: center;
}


ul li.active a{
    background-color: palevioletred;
    color: wheat;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    padding: initial;
    border-radius: 50%;
}


ul li{
    display: inline-block;
    
}


ul li a{
    text-decoration: solid;
    color: tomato;
    padding: 5px 20px;
    border: 1px solid wheat;
    transition: unset;
    border-radius: 10%;
}


ul li a:hover{
    background-color: lightslategray;
    color: wheat;
}

.logo2 img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    color: violet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h1{
    color: darkmagenta;
    font-size: 52px;
    
}

.button{
    color: violet;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid red;
    padding: 10px 30px;
    color: violet;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    color: seagreen;
    background-color: darkkhaki;
}

/* .p1 3{
    text align-self: start;
    
} */

.hrd{
    height: 100px;
}

.dropdown{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.title2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}